<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ModifyServlet</servlet-name>
        <servlet-class>hu.oe.hoe.heroarmor.services.ModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyServlet</servlet-name>
        <url-pattern>/modify</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>navServlet</servlet-name>
        <servlet-class>hu.oe.hoe.heroarmor.services.navServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>navServlet</servlet-name>
        <url-pattern>/nav</url-pattern>
    </servlet-mapping>
</web-app>
